html {
    scroll-behavior: smooth;
}

body {
    background-image: url("./bg.png");
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
    animation-name: scroll;
    animation-duration: 3s;
}

.story h1 {
    color: blue;
}

@keyframes scroll {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}